.button__component{
    border-radius: 20px;
    text-align: center;
    // width: 300px;
    height: 40px;
    outline: none;
    // border: none;
    // color: #fff;
    // background-color: #3aa4f6;
    font-size: 1.6rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.lv1{
    width:130px
}

.lv2{
    width:150px;
}

.lv3{
    width: 300px;
}


.lv4{
    width: 400px;
}

.lv5{
    width: 500px;
}