.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    .header{
        width: 100%;
        // padding-left: 15px;
        position: relative;
        z-index: 999;
    }
    .container{
        // display: flex;
        // justify-content: center;
        padding-left: 15px;
        // padding-right: 15px;
        width: 100%;
        box-sizing: border-box;
    }

    .slideshow{
        margin-left: 15px;
    }
}