.internet-container {
    // margin-right: 15px;
    // margin-left: 15px;
    margin-top: 15px;


    .internet-title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;

        p {
            margin-left: 20px;
            font-size: 1.6rem;
            cursor: pointer;
            color: #5c5c5c;
        }

        img {
            width: 17px;
            height: 17px;
            margin-right: 10px;
        }

        h2 {
            font-size: 32px;
            color: #0095d9;
            font-weight: 600;
            font-style: normal;
        }

        //hover

        p:hover {
            color: #3aa4f6;
        }

        p:last-child:hover {
            text-decoration: underline;
        }
    }

}

/* .internet-container h3{
    text-transform: uppercase;
} */



.internet-row {
    padding-right: 5px;
    padding-left: 5px;
    /* height: 100%; */
    overflow: hidden;

    .internet-row-items {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* justify-content: flex-start; */
        /* gap: 10px; */
        max-height: 636px;
        height: 85%;
        width: 100%;
        // overflow: hidden;
        transition: ease 0.3s;
    }
}


@media only screen and (max-width:992px){
    .internet-container{
        max-width: 780px;

        .internet-title{
            line-height: 28px;
        }
    }
}



@media only screen and (max-width:768px) {
    .internet-container {
        max-width: 650px;
    }

}

@media only screen and (max-width:600px) {
    .internet-container {
        margin-top: 20px;
        max-width: 350px;
        /* overflow-x: scroll; */

        .internet-title {
            h2 {
                font-size: 18px;
                color: #0095d9;
                font-weight: 600;
            }

            p {
                font-size: 1.4rem;
            }
        }

        .internet-row {
            .internet-row-items {
                max-height: 616px;
            }
        }
    }

}

/* internet-responsive */