.mobile-search{

    .mobile-search{
        margin-top: 50px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 30px;
    
    }
}